#card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
#card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card-list-contents {
  margin: 0.5em 1em;
  padding: 8px;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  padding: 20px;
  border: 1px var(--main-white) solid;
  border-radius: 5px;
  cursor: pointer;
}

.card-box:hover {
  border: 1px var(--main-blue) solid;
  transform: scale(1.05);
  transition: 0.3s;
}

.card-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.card-image > img {
  height: 100%;
}

.card-text-container {
  margin: 10px 0;
  max-height: 200px;
}

.card-title {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.card-content {
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
  word-break: break-all;
}

.card-vote {
  text-align: end;
  font-size: 12px;
}

#no-result {
  font-size: 36px;
  text-align: center;
}
#root > #card-container > #card-list > #no-result {
  display: flex;
  justify-content: center;
}
.card-content::-webkit-scrollbar {
  width: 4px;
}
.card-content::-webkit-scrollbar-thumb {
  background: var(--main-blue); /* 스크롤바의 색상 */
  border-radius: 10px;
}
.card-title::-webkit-scrollbar {
  width: 10px;
}
.card-title::-webkit-scrollbar-thumb {
  height: 1%;
  background: var(--main-blue); /* 스크롤바의 색상 */
  border-radius: 10px;
}
