body {
  position: relative;
}
#pagination-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px;
  padding: 0.1rem 1rem;
  font-size: 18px;
}
#pagination-container > li {
  width: 40px;
}

.page-number {
  cursor: pointer;
}

#next,
#prev {
  cursor: pointer;
}

#next:hover,
#prev:hover {
  color: var(--main-blue);
}

.active {
  color: var(--main-blue);
  font-weight: 800;
  cursor: pointer;
}

/* scrollTop Button */
#scroll-top-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--main-blue);
  box-shadow: 2px 3px 0px 0px white;
  color: white;

  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 10;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
