#pagination-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px;
  padding: 0.1rem 1rem;
  font-size: 18px;
}
#pagination-container > li {
  width: 40px;
}

.page-number {
  cursor: pointer;
}

#next,
#prev {
  cursor: pointer;
}

#next:hover,
#prev:hover {
  color: var(--main-blue);
}

.active {
  color: var(--main-blue);
  font-weight: 800;
  cursor: pointer;
}
