#comment-container {
  max-width: 98%;
  width: 98%;
  margin: 0 auto;
  padding: 8px 20px;
  height: 150px;
  background: #e7e7e7;
}

#comment-container h3 {
  width: 200px;
  height: 40px;
  background: #a2a2a2;
}

#comment-container > span {
  width: 150px;
  height: 25px;
}
