#card-detail-container {
  margin: 20px 40px 35px;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #626262;
}
#card-detail-container > figure {
  width: 90%;
  height: 100%;
}
#card-detail-container figure img {
  width: 100%;
}
.card-detail {
  margin-right: 100px;
}
.card-detail h1 {
  font-size: 45px;
  margin-bottom: 30px;
}
.card-detail p {
  width: 80%;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
